.our-story-page {
  background-color: #fce8df;
  color: #e6a36a;
  padding: 50px 0px;
  height: 90vh;
}

.elongated-rectangle {
  width: 500px;
  height: 500px;
  border-radius: 20px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .our-story-page {
    height: auto;
  }
}
